{{define "css"}}

{{ end }}
{{define "content"}}
<div class="container-fluid" style="margin-top: -4rem;">
    <div class="row mb-3">
        <div class="col-12">
            <div class="callout callout-info">
                <h3 class="my-1 mb-3 float-left"><i class="fa-solid fa-people-line text-primary"></i>&nbsp;Update
                    Student Email
                </h3>
                <br><br>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="my-1 float-left"><i class="fas fa-info-circle text-info text-small"></i>&nbsp;Reset Email
            </h5>
        </div>

        <div class="card-body">
            <form action="/auth/update-student-email" method="post" class="form">
                <input type="hidden" name="csrf" value="{{ .csrf }}">

                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="Student">Student</label>
                            <select id="id" name="id" class="form-control select2" style="width: 100%;">
                                <option value="">Select Student</option>
                                {{ range $key, $value:= .students}}
                                <option value="{{$value.ID}}">{{$value.Name}} - ({{$value.Email}}) - ({{$value.UniqueID}})</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>New Email</label>
                        <input type="input" id="email" name="email" class="form-control" aria-describedby="Code"
                            value="" placeholder="Enter New Email Here">
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">Update Email</button>
                    </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
{{end}}

{{define "js"}}

{{ end }}