{{define "css"}}
<link rel="stylesheet" href="/adminlte/dist/css/double_ring_loader.css">
<link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<style>
    #myForm {
        display: none;
    }

    .nav-item.nav-link.active {
        background-color: #0275d8 !important;
        color: white !important;
    }

    .center-text {
        text-align: center;
    }
</style>

{{ end }}
{{define "content"}}
<div class="container-fluid" style="margin-top: -4rem;">
    <div class="row">
        <div class="col-12">
            <div class="callout callout-info">
                <h5 class="my-1 mb-3 float-left"><i class="fa-solid fa-people-line text-primary"></i>&nbsp;USERS
                </h5>
                <div class="btn-group btn-group-sm float-right mt-2" role="group">
                    <a href="/auth/users/create" class="btn btn-primary" title="Add New" style="text-decoration: none; color: white;">
                        <i class=" fas fa-fw fa-plus text-white" aria-hidden="true"></i> Add New User
                    </a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active text-dark" id="nav-view-staff-tab" data-toggle="tab"
                        href="#nav-view-staff" role="tab" aria-controls="nav-view-staff" aria-selected="true"><span
                            class="tab"><b>STAFF</b> </span></a>

                    <a class="nav-item nav-link text-dark" id="nav-view-student-tab" data-toggle="tab"
                        href="#nav-view-student" role="tab" aria-controls="nav-view-student" aria-selected="true"><span
                            class="tab-title"><b>STUDENT</b>
                        </span></a>
                </div>
            </nav>
            <br>
            <br>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-view-staff" role="tabpanel"
                    aria-labelledby="nav-view-staff-tab">
                    <div id="viewStaffTab"></div>
                </div>
                <div class="tab-pane fade show" id="nav-view-student" role="tabpanel"
                    aria-labelledby="nav-view-student-tab">
                    <div id="viewStudentTab"></div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.card -->
</div>

{{end}}

{{define "js"}}
<!-- DataTables -->
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
    (function () {
        $('#viewStaffTab').html(
            '<div class="loadingio-spinner-double-ring-xymjggaeym"><div class="ldio-r2hchxjaheg"><div></div><div></div><div><div></div></div><div><div></div></div></div></div>'
        );
        let request = $.get("/auth/users/staff");
        request.done(function (e) {
            $('#viewStaffTab').html(e);
        })
        request.fail(function (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = '<span style="color:red;"><b>Not connected.\n Verify Network.</b></span>';
            } else if (jqXHR.status == 401) {
                msg = '<span style="color:red;"><b>Unauthorized.[401]</b></span>';
            } else if (jqXHR.status == 403) {
                msg = '<span style="color:red;"><b>This action is unauthorized.[403(Forbidden)]</b></span>';
            } else if (jqXHR.status == 404) {
                msg = '<span style="color:red;"><b>Requested page not found.[404]</b></span>';
            } else if (jqXHR.status == 500) {
                msg = '<span style="color:red;"><b>Internal Server Error [500].</b></span>';
            } else if (exception === 'parsererror') {
                msg = '<span style="color:red;"><b>Requested JSON parse failed.</b></span>';
            } else if (exception === 'timeout') {
                msg = '<span style="color:red;"><b>Time out error.</b></span>';
            } else if (exception === 'abort') {
                msg = '<span style="color:red;"><b>Ajax request aborted.</b></span>';
            } else {
                msg = '<span style="color:red;"><b>Uncaught Error.\n' + jqXHR.responseText + '</b></span>';
            }
            $('#viewStaffTab').html(msg);

        }); //fail
        request.always(function (jqXHR) {
        });
    })();


    $('#nav-tab a[href="#nav-view-staff').on('click', function (e) {
        e.preventDefault();
        $('#viewStaffTab').html(
            '<div class="loadingio-spinner-double-ring-xymjggaeym"><div class="ldio-r2hchxjaheg"><div></div><div></div><div><div></div></div><div><div></div></div></div></div>'
        );
        let request = $.get("/auth/users/staff");
        request.done(function (e) {
            $('#viewStaffTab').html(e);
        })
        request.fail(function (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = '<span style="color:red;"><b>Not connected.\n Verify Network.</b></span>';
            } else if (jqXHR.status == 401) {
                msg = '<span style="color:red;"><b>Unauthorized.[401]</b></span>';
            } else if (jqXHR.status == 403) {
                msg =
                    '<span style="color:red;"><b>This action is unauthorized.[403(Forbidden)]</b></span>';
            } else if (jqXHR.status == 404) {
                msg = '<span style="color:red;"><b>Requested page not found.[404]</b></span>';
            } else if (jqXHR.status == 500) {
                msg = '<span style="color:red;"><b>Internal Server Error [500].</b></span>';
            } else if (exception === 'parsererror') {
                msg = '<span style="color:red;"><b>Requested JSON parse failed.</b></span>';
            } else if (exception === 'timeout') {
                msg = '<span style="color:red;"><b>Time out error.</b></span>';
            } else if (exception === 'abort') {
                msg = '<span style="color:red;"><b>Ajax request aborted.</b></span>';
            } else {
                msg = '<span style="color:red;"><b>Uncaught Error.\n' + jqXHR.responseText +
                    '</b></span>';
            }
            $('#viewStaffTab').html(msg);

        }); //fail
        request.always(function (jqXHR) {
        });
    });

    $('#nav-tab a[href="#nav-view-student').on('click', function (e) {
        e.preventDefault();
        $('#viewStudentTab').html(
            '<div class="loadingio-spinner-double-ring-xymjggaeym"><div class="ldio-r2hchxjaheg"><div></div><div></div><div><div></div></div><div><div></div></div></div></div>'
        );
        let request = $.get("/auth/users/student");
        request.done(function (e) {
            $('#viewStudentTab').html(e);
        })
        request.fail(function (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = '<span style="color:red;"><b>Not connected.\n Verify Network.</b></span>';
            } else if (jqXHR.status == 401) {
                msg = '<span style="color:red;"><b>Unauthorized.[401]</b></span>';
            } else if (jqXHR.status == 403) {
                msg =
                    '<span style="color:red;"><b>This action is unauthorized.[403(Forbidden)]</b></span>';
            } else if (jqXHR.status == 404) {
                msg = '<span style="color:red;"><b>Requested page not found.[404]</b></span>';
            } else if (jqXHR.status == 500) {
                msg = '<span style="color:red;"><b>Internal Server Error [500].</b></span>';
            } else if (exception === 'parsererror') {
                msg = '<span style="color:red;"><b>Requested JSON parse failed.</b></span>';
            } else if (exception === 'timeout') {
                msg = '<span style="color:red;"><b>Time out error.</b></span>';
            } else if (exception === 'abort') {
                msg = '<span style="color:red;"><b>Ajax request aborted.</b></span>';
            } else {
                msg = '<span style="color:red;"><b>Uncaught Error.\n' + jqXHR.responseText +
                    '</b></span>';
            }
            $('#viewStudentTab').html(msg);

        }); //fail
        request.always(function (jqXHR) {
        });
    });

</script>
{{ end }}